---
import Star8 from "@/components/stars/s8";
import MaxWidthWrapper from "@/components/MaxWidthWrapper.astro";

import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import Mail from "@/icons/Mail.astro";
import WorldMap from "@/icons/WorldMap.astro";

import { basics } from "@cv";
import { Button } from "../ui/button";
const { name, label, location, email, linkedin, github } = basics;
const { city, region } = location;
---

<MaxWidthWrapper className="md:grid grid-cols-6">
  <div
    class="sm:grid-cols-4 sm:grid md:block md:col-span-4 dark:text-foreground"
  >
    <div class="space-y-4 sm:col-span-3">
      <h1 class="text-4xl font-bold tracking-wider">{name}</h1>
      <p class="text-2xl font-semibold tracking-wide leading-10">
        I'm a
        <span
          class="relative border-1 border-border/40 bg-main/80 px-2 rounded-base inline-flex items-center gap-2 dark:bg-main dark:text-main-foreground"
        >
          <Star8
            color="background"
            size={24}
            stroke="black"
            strokeWidth={6}
            className="absolute -top-2 -left-2 animate-spin-slow"
          />
          Full Stack Developer
          <Star8
            color="background"
            size={24}
            stroke="black"
            strokeWidth={6}
            className="absolute -bottom-2 -right-2 animate-spin-slow"
          />
        </span>
        {label}
      </p>
    </div>
    <div class="space-y-4 sm:col-span-1">
      <p class="text-md flex items-center gap-2">
        <WorldMap />
        {region} - {city}
      </p>
      <footer class="space-x-4 flex space-y-4 md:space-y-0 md:block flex-wrap">
        {
          email && (
            <a
              href={`mailto:${email}`}
              target="_blank"
              title={`Send an email to ${name}`}
            >
              <Button
                className="cursor-pointer bg-main/80 hover:bg-main/100 dark:bg-main"
                aria-label={`Send an email to ${name}`}
              >
                <Mail class="size-4" />
                <span class="sr-only">Send an email</span>
              </Button>
            </a>
          )
        }
        {
          github && (
            <a
              href={github}
              target="_blank"
              title={`Visit ${name}'s GitHub profile`}
            >
              <Button
                className="cursor-pointer bg-main/80 hover:bg-main/100 dark:bg-main"
                aria-label={`Visit ${name}'s GitHub profile`}
              >
                <GitHub class="size-4" />
                <span class="sr-only">Visit GitHub profile</span>
              </Button>
            </a>
          )
        }
        {
          linkedin && (
            <a
              href={linkedin}
              target="_blank"
              title={`Visit ${name}'s LinkedIn profile`}
            >
              <Button
                className="cursor-pointer bg-main/80 hover:bg-main/100 dark:bg-main"
                aria-label={`Visit ${name}'s LinkedIn profile`}
              >
                <LinkedIn class="size-4" />
                <span class="sr-only">Visit LinkedIn profile</span>
              </Button>
            </a>
          )
        }
      </footer>
    </div>
  </div>
  <div class="col-span-2 hidden">The image is going to be here (someday)</div>
</MaxWidthWrapper>
