---
import MaxWidthWrapper from "@/components/MaxWidthWrapper.astro";
import { Card, CardContent, CardTitle } from "@/components/ui/card";

import { SkillsCarousel } from "../SkillsCarousel";

import { skills } from "@cv";
import { Badge } from "../ui/badge";
---

<MaxWidthWrapper>
  <h2 class="text-2xl font-bold tracking-wider mb-4 dark:text-foreground">
    Skills
  </h2>

  <div>
    <div class="hidden lg:block w-full max-w-3xl">
      <SkillsCarousel skills={skills} client:load />
    </div>
    <div class="lg:hidden">
      <div class="sm:grid-cols-2 space-y-4 sm:space-y-0 gap-4 sm:gap-6 sm:grid">
        {
          skills.map(({ category, technologies }) => (
            <Card
              key={category}
              className="bg-main/80 dark:bg-main text-main-foreground"
            >
              <CardContent className="p-4 gap-2">
                <CardTitle className="text-lg leading-relaxed">
                  {category}
                </CardTitle>
                <div class="flex flex-wrap gap-2 mt-4">
                  {technologies?.map((badge) => (
                    <Badge
                      key={badge}
                      variant="neutral"
                      className="text-xs px-2 py-0.5"
                    >
                      {badge}
                    </Badge>
                  ))}
                </div>
              </CardContent>
            </Card>
          ))
        }
      </div>
    </div>
  </div>
</MaxWidthWrapper>
